<h1>进场及互动数据</h1>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["audience_compare"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["medal_compare"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["medal_scale"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<h1>弹幕内容数据</h1>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["word_frequency"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["word_cloud"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<h1>营收数据</h1>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["revenue_scale"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>
<br>
<figure class="img-box" contenteditable="false">
<img src="{{ report.data["revenue_type_scale"] }}"/>
<figcaption class="caption" contenteditable=""></figcaption>
</figure>