<h4>进场及互动数据</h4>
<img src="{{ report.data["audience_compare"] }}">
<br>
<img src="{{ report.data["medal_compare"] }}">
<br>
<h4>弹幕内容数据</h4>
<img src="{{ report.data["word_frequency"] }}">
<br>
<img src="{{ report.data["word_cloud"] }}">
<br>
<h4>营收数据</h4>
<img src="{{ report.data["revenue_scale"] }}">
<br>
<img src="{{ report.data["revenue_type_scale"] }}">
